@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>To</h2>
    <h3>Expence Tracker</h3>
    <div class="emoji closed active" >🙈</div>
    <div class="emoji open" id="open">🙉</div>
</div>
